.task-list {
    margin: 1.2rem 1rem;
    border: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #5a372d;
    overflow: hidden;
    max-width: 520px;

}

.task-list .list-group-item{
    flex-shrink: 1
}

.list-group-item{
    background-color: #ffffea;
    border-color: #986a54;
}

